<!DOCTYPE html>
<html>
<head>
<title>login.html</title>

<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="this is my page">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<script src="/js/jquery-2.0.3.min.js"></script>
</head>

<body>
  ${loginMsg!''}
  </br>username:
  <input type="text" name="username">
  </br> password:
  <input type="password" name="password">
  </br>
  <input id="login" type="button" value="登录">
</body>
<script type="text/javascript">
    $("#login").click(function() {
        $.ajax({
            type : "POST", //提交方式  
            url : "/login",//路径  
            data : {
                "username" : $("input[name=username]").val(),
                "password" : $("input[name=password]").val()
            },//数据，这里使用的是Json格式进行传输  
            success : function(result) {//返回数据根据结果进行相应的处理  
                if (result) {
                    alert(result);
                }
            }
        });
    })
</script>
</html>
